/* ========================================================================== */
/*  Defaults & Tool Styles                                                    */
/* ========================================================================== */
body {
    background:#272727;
    color:#bfbfbf;
}
blockquote p {
    color: #a2a2a2;
}
cite {
    background:url(../images/icons/user-dark.png) no-repeat left;
}
a { color:#629fd3;  }
a:hover { color:#8ab635;  }

.highlight1 {
  background:#475a21;
  color:#90bd38;
}
.highlight2 {
  background:#00437e;
  color:#73beff;
}

/* ========================================================================== */
/*  General Styles                                                            */
/* ========================================================================== */

/* top and main menu  */
.top {
  background: #4c4847 url(../images/backgrounds/gradient-top-dark.gif) repeat-x bottom;
  color:#ffffff;
}
.top .mainmenu ul {
  bottom:20px;
  right:5px;
}
.top .mainmenu ul li {
  margin-left:5px;
}
.top .mainmenu ul li a {
  color:#c6c6c6;
  font-size:18px;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:10px;
  padding-right:10px;
  text-shadow: 1px 1px #202020;
}
.top .mainmenu ul li a:hover {
  color:#9fd13e;
  font-size:18px;
}
.top .mainmenu ul li.active a {
  color:#9fd13e;
  font-size:18px;
}
.top .mainmenu ul li.active a:hover {
  color:#9fd13e;
  font-size:18px;
}
.top .mainmenu ul {
  border-right:0px; /* for the last item */
}
.top .mainmenu ul li a {
  background: transparent;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
}
.top .mainmenu ul li a:hover {
  background: transparent;
}
.top .mainmenu ul li.active a {
  background:url(../images/backgrounds/translucentbg1.png);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
}
.top .mainmenu ul li.active a:hover {
  background:url(../images/backgrounds/translucentbg1.png);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.top .utility {
    text-shadow: 1px 1px #202020 !important;
}

/* middle area specific classes */
.middle {
  background:#2e2e2e url(../images/backgrounds/dark-baseline.jpg);
}
.middle .inner .hr , .middle .home .hr{
  height:1px;
  background: url(../images/misc/longhr-faded-ends-dark.png) center no-repeat;
}
.middle ul li {
  background:url(../images/backgrounds/bullet-blue.png) no-repeat left;
}
.middle .home {
  background: transparent url(../images/backgrounds/gradient-full-green-baseline.jpg) repeat-x top center;
}
.home h4, .inner h4 {
   text-shadow: 1px 1px #202020;
}
.home p, .inner p, .inner li, .home cite , .inner cite {
   text-shadow: 1px 1px #202020;
}
.home .slide h4, .home .slide p, .home .header-image-right p, .home .header-image-left p, .home .header-center p, .home .header-image-right h4, .home .header-image-left h4, .home .header-center h4{
  color:#e0e0e0;
  text-shadow: 1px 1px #394a17 !important;
}
.middle .white {
  background: transparent;
}
.middle .inner h2, .middle .inner h1  {
   text-shadow: 1px 1px #202020 !important;
}

/* gradient backgrouns with and without bottom/top bordering for raised effect */
.gradient-down-color {
  background:#3c5114 url(../images/backgrounds/gradient-full-green.jpg) repeat-x center bottom;
}
.gradient-up-color {
  background:#3c5114 url(../images/backgrounds/gradient-full-green.jpg) repeat-x center top;
}
.gradient-up {
  background:#2f2f2f url(../images/backgrounds/gradient-full-grey-top-no-border.jpg) repeat-x top;
}
.gradient-up-with-border {
  background:#2f2f2f url(../images/backgrounds/gradient-full-grey-top.jpg) repeat-x top;
}
.gradient-up-darker {
  background:#2f2f2f url(../images/backgrounds/gradient-slide-nav-dark-no-border.jpg) repeat-x top;
}
.gradient-up-darker-with-border {
  background:#2f2f2f url(../images/backgrounds/gradient-slide-nav-dark.jpg) repeat-x top;
}
.gradient-down {
  background:#2f2f2f url(../images/backgrounds/gradient-full-grey-btm-no-border.jpg) repeat-x bottom;
}
.gradient-down-with-border {
  background:#2f2f2f url(../images/backgrounds/gradient-full-grey-btm.jpg) repeat-x bottom;
}
.gradient-dark {
  background:#191919 url(../images/backgrounds/gradient-nav.gif) repeat-x top;
}

 /* general header styles */
.faded-to-right {
  background:url(../images/misc/separator-faded-right-dark.png) no-repeat right;
}
.faded-to-left  {
  background:url(../images/misc/separator-faded-left-dark.png) no-repeat left;
}

/* header version with main image bang on center */
.header-center {  color:#e0e0e0;  }
.header-center h1 {
    color:#8ab635;
}
.header-center h3 {
    color:#e0e0e0;
}

/* header version with main image to right */
.header-image-right   {  color:#e0e0e0;  }
.header-image-right h1 {
    color:#8ab635;
}
.header-image-right h3 {
    color:#e0e0e0;
}

/* header version with main image to left */
.header-image-left  {  color:#e0e0e0;  }
.header-image-left h1 {
    color:#8ab635;
}
.header-image-left h3 {
    color:#e0e0e0;
}

/* small overlay icons for play and zoom */
.small-plus {
   background:url(../images/icons/small-plus.png) no-repeat;
}
.small-play {
   background:url(../images/icons/small-play.png) no-repeat;
}
.plus {
   background:url(../images/icons/plus.png) no-repeat;
}
.play {
   background:url(../images/icons/play.png) no-repeat;
}

/* overlay bubble one */
.bubble-one {
  background:url(../images/backgrounds/bubble-green.png) no-repeat;
  color:#ffffff;
}
.bubble-one h2 {
  color:#ffffff;
}
.bubble-one h3 {
  color:#ffffff;
}

/* overlay bubble one alternate (a bit smaller) */
.bubble-one-alt {
  background:url(../images/backgrounds/bubble-green-alternate.png) no-repeat;
  color:#ffffff;
}
.bubble-one-alt  h2 {
  color:#ffffff;
}
.bubble-one-alt  h3 {
  color:#ffffff;
}

/* overlay bubble two */
.bubble-two {
  background:url(../images/backgrounds/bubble-blue.png) no-repeat;
  color:#ffffff;
}
.bubble-two h2 {
  color:#ffffff;
}
.bubble-two h3 {
  color:#ffffff;
}

/* add text shadow to bubbles */
.bubble-one h2, .bubble-one h3, .bubble-one p, .bubble-one-alt h2, .bubble-one-alt h3, .bubble-one-alt p {
    text-shadow: 1px 1px #507512;
}
.bubble-two h2, .bubble-two h3, .bubble-two p {
    text-shadow: 1px 1px #125ea1;
}


/* features area on homepages */
.features h2 {
   color:#8ab635;
}

/* square boxes with outer and inner region for fine borders */
.outer-box {
  background: transparent url(../images/backgrounds/translucentbg1.png);
  border:1px solid #555555;
}
.inner-box-filled-grey {
  background: transparent url(../images/backgrounds/translucentbg2.png);
}
.inner-box-filled-white {
  background: transparent url(../images/backgrounds/translucentbg2.png);
}
.inner-box-gradient-up {
  background: transparent url(../images/backgrounds/gradient-full-grey-top-no-border.jpg) repeat-x top;
}
.inner-box-gradient-down {
  background: transparent url(../images/backgrounds/gradient-full-grey-btm-no-border.jpg) repeat-x bottom;
}

/* rounded boxes  with outer and inner region for fine borders  */
.outer-rounded-box-bold {
  background: transparent url(../images/backgrounds/translucentbg1.png);
}
.outer-rounded-box {
  background: transparent url(../images/backgrounds/translucentbg1.png);
  border:1px solid #555555;
}
.inner-rounded-box-filled-grey {
  background: transparent url(../images/backgrounds/translucentbg2.png);
}
.inner-rounded-box-filled-white {
  background: transparent url(../images/backgrounds/translucentbg2.png);
}
.inner-rounded-box-gradient-up {
  background: transparent url(../images/backgrounds/gradient-full-grey-top-no-border.jpg) repeat-x top;
}
.inner-rounded-box-gradient-down {
  background: transparent url(../images/backgrounds/gradient-full-grey-btm-no-border.jpg) repeat-x bottom;
}

/* simple boxes */
.simple-box {
  border:1px solid #555555;
  background: transparent url(../images/backgrounds/translucentbg2.png);
}
.simple-rounded-box {
  border:1px solid #555555;
  background: transparent url(../images/backgrounds/translucentbg2.png);
}


/* one fourth picture frame with shadow */
a.picture-frame-fourth {
   background:#ffffff;
   border:1px solid #dbdbdb;
}
a.picture-frame-fourth:hover {
   border:1px solid #80b122;
   background:#ffffff;
}

/* one fifth picture frame with shadow */
a.picture-frame-fifth {
   background:#ffffff;
   border:1px solid #dbdbdb;
}
a.picture-frame-fifth:hover {
   border:1px solid #80b122;
}

a.picture-frame-fifth {
-moz-box-shadow: 1px 3px 3px #202020;
-webkit-box-shadow: 1px 3px 3px #202020;
box-shadow: 1px 3px 3px #202020;
}
a.picture-frame-fourth {
-moz-box-shadow: 1px 3px 3px #202020;
-webkit-box-shadow: 1px 3px 3px #202020;
box-shadow: 1px 3px 3px #202020;
}


/* code styling */
code {
   background: #f1f1f1;
   border: 1px dotted #dbdbdb;
   color: #3b3430;
}
code strong {
   color: #444444;
   border: 1px solid #dcdcdc;
   background: #ffffff;
}
code .comment {
   color: #aaaaaa;
}

/* caption color styles */
.caption-top, .caption-bottom {
        color: #ffffff;
        border: 0px solid #334143;
        background: #000000;
        text-shadow: 1px 1px 0 #202020 !important;
}
.caption-top {
        border-width: 0px 0px 0px 0px;
}
.caption-bottom {
        border-width: 0px 0px 0px 0px;
}
.caption a, .caption a {
        border: 0 none;
        text-decoration: none !important;
        background: #000000;
}
.caption a:hover, .caption a:hover {
        background: #202020;
}
.caption-wrapper a, .caption-wrapper a:hover {
        color: #cbe896;
        text-decoration: none;
}

/*success box */
.success {
        text-shadow: 1px 1px 1px #ffffff !important;
}
/* errors box */
.errors {
        text-shadow: 1px 1px 1px #ffffff !important;
}
/* notification box */
.notification {
        text-shadow: 1px 1px 1px #ffffff !important;
}



/* ========================================================================== */
/*  Jquery Tools  Stuff                                                       */
/* ========================================================================== */
/* generic css tabs - uses jquery tools  */
ul.css-tabs {
        border-bottom: 1px solid #444444;
}
ul.css-tabs a {
        border: 1px solid #444444;
        border-bottom:0px;
        background: url(../images/backgrounds/translucentbg1.png);
        color: #b0b0b0;
}
ul.css-tabs a:hover {
        background:url(../images/backgrounds/translucentbg2.png);
        color: #b0b0b0;
}
ul.css-tabs a.current {
        background:url(../images/backgrounds/translucentbg2.png);
        border-bottom:1px solid #343434;
        color:#f58b03;
}
.css-panes div {
        border: 1px solid #444444;
        border-width: 0 1px 1px 1px;
        background: url(../images/backgrounds/translucentbg2.png);
}

/* accordion used on the faq page  - uses jquery tools */
.accordion-faq span {
        color: #327cba;
}
.accordion-faq span.current {
        color: #80b122;
}
.accordion-faq .pane h3 {
        color: #929292;
}
.accordion-faq span {
        background: #2c2c2c url(../images/backgrounds/faq-open-left.png) top left no-repeat;
        background-position:15px 16px;
        border-top:1px solid #555555;
        border-bottom:1px solid #555555;
        border-left:1px solid #555555;
        border-right:1px solid #555555;
}
.accordion-faq span.current {
        background: #2c2c2c url(../images/backgrounds/faq-close-left.png) top left no-repeat;
        background-position:15px 14px;
        border-top:1px solid #555555;
        border-bottom:0px solid #555555;
        border-left:1px solid #555555;
        border-right:1px solid #555555;
}
.accordion-faq .pane {
        color: #929292;
        background:#2c2c2c;
        border-bottom:1px solid #555555;
        border-left:1px solid #555555;
        border-right:1px solid #555555;
}


/* ========================================================================== */
/*  Twitter Styles                                                            */
/* ========================================================================== */
.tweet, .query { color:#c8c8c8; }
.tweet .tweet_list li a, .query .tweet_list li a {  color: #c8c8c8 !important; }
.tweet .tweet_list li a:hover, .query .tweet_list li a:hover {  color: #95c33c !important; }
.tweet .tweet_list .tweet_even, .query .tweet_list .tweet_even {  }

/* ========================================================================== */
/*  General Headings                                                          */
/* ========================================================================== */

h1 {
    color:#8ab635;
}

/* ========================================================================== */
/*  Footer                                                                    */
/* ========================================================================== */

/* big footer style */
.footer-big {
  background: #303030 url(../images/backgrounds/gradient-big-footer-dark.jpg) top center repeat-x;
  color:#c8c8c8;
  text-shadow: 1px 1px #181818;
}
.footer-big h3 {
  color:#ffffff;
  text-shadow: 1px 1px #181818 ;
}
.footer .footer-panel ul li {
  border-top:1px solid #575757;
}
.footer .footer-panel ul li a {
  color:#c8c8c8;  text-decoration:none;
}
.footer .footer-panel ul li a:hover {
  color:#95c33c;  text-decoration:none;
}
.footer-small {
  background: #2a2a2a url(../images/backgrounds/gradient-small-footer-dark.jpg) top center repeat-x;
  color:#d9d9d9;
}
.footer-small {
   text-shadow: 1px 1px #202020 !important;
}
.footer-small a {
  color:#d9d9d9; text-decoration:underline;
}
.footer-small a:hover {
  color:#ffffff; text-decoration:none;
}
/* social list */
.footer ul.social li {
  border-top:1px solid #575757;
}



/* ========================================================================== */
/*  Buttons                                                                   */
/* ========================================================================== */

/* text link */
a.text-link { }
a.text-link:hover { }

/* a tag button big action color  - fixed width, and transparent */
a.btn-big-action-fixed {  background:url(../images/buttons/btn-big-green-fixed-width.png) no-repeat;  color:#ffffff;  text-shadow: 1px 1px #567e13; }
a.btn-big-action-fixed:hover {  background:url(../images/buttons/btn-big-green-fixed-widthh.png) no-repeat; color:#ffffff; text-shadow: 1px 1px #567e13; }

/* a tag button big neutral color  - fixed width, and transparent */
a.btn-big-neutral-fixed {  background:url(../images/buttons/btn-big-grey-dark-fixed-width.png) no-repeat; color:#5b5b5b; text-shadow: 1px 1px #ffffff; }
a.btn-big-neutral-fixed:hover {  background:url(../images/buttons/btn-big-grey-dark-fixed-widthh.png) no-repeat; color:#5b5b5b; text-shadow: 1px 1px #ffffff; }

/* a tag button big neutral color */
a.btn-big-action { background: transparent url(../images/buttons/btn-big-green-dark-right.jpg) no-repeat scroll top right; color:#ffffff; text-shadow: 1px 1px #567e13; }
a.btn-big-action span { background: transparent url(../images/buttons/btn-big-green-dark-left.jpg) no-repeat;  }
a.btn-big-action:hover { background: transparent url(../images/buttons/btn-big-green-dark-righth.jpg) no-repeat scroll top right; }
a.btn-big-action:hover span{ background: transparent url(../images/buttons/btn-big-green-dark-lefth.jpg) no-repeat;  color:#ffffff !important; text-shadow: 1px 1px #567e13; }

/* a tag button small action color */
a.btn-small-action { background: transparent url(../images/buttons/btn-small-green-dark-right.jpg) no-repeat scroll top right; color:#ffffff; text-shadow: 1px 1px #567e13; }
a.btn-small-action span { background: transparent url(../images/buttons/btn-small-green-dark-left.jpg) no-repeat;  }
a.btn-small-action:hover { background: transparent url(../images/buttons/btn-small-green-dark-righth.jpg) no-repeat scroll top right;  }
a.btn-small-action:hover span{ background: transparent url(../images/buttons/btn-small-green-dark-lefth.jpg) no-repeat;  color:#ffffff !important; text-shadow: 1px 1px #567e13; }

/* a tag button big neutral color */
a.btn-big-neutral { background: transparent url(../images/buttons/btn-big-grey-dark-right.jpg) no-repeat scroll top right; color:#5b5b5b; text-shadow: 1px 1px #ffffff; }
a.btn-big-neutral span { background: transparent url(../images/buttons/btn-big-grey-dark-left.jpg) no-repeat;  }
a.btn-big-neutral:hover { background: transparent url(../images/buttons/btn-big-grey-dark-righth.jpg) no-repeat scroll top right;  }
a.btn-big-neutral:hover span{ background: transparent url(../images/buttons/btn-big-grey-dark-lefth.jpg) no-repeat; color:#5b5b5b !important;  text-shadow: 1px 1px #ffffff; }

/* a tag button small neutral color */
a.btn-small-neutral { background: transparent url(../images/buttons/btn-small-grey-dark-right.jpg) no-repeat scroll top right; color:#5b5b5b; text-shadow: 1px 1px #ffffff; }
a.btn-small-neutral span { background: transparent url(../images/buttons/btn-small-grey-dark-left.jpg) no-repeat; }
a.btn-small-neutral:hover { background: transparent url(../images/buttons/btn-small-grey-dark-righth.jpg) no-repeat scroll top right;  }
a.btn-small-neutral:hover span{ background: transparent url(../images/buttons/btn-small-grey-dark-lefth.jpg) no-repeat;  color:#5b5b5b !important; text-shadow: 1px 1px #ffffff; }

/* a tag button superbig neutral color */
a.btn-superbig-neutral { background: transparent url(../images/buttons/btn-superbig-gray-dark-right.jpg) no-repeat scroll top right; color:#5b5b5b;text-shadow: 1px 1px #567e13; }
a.btn-superbig-neutral span { background: transparent url(../images/buttons/btn-superbig-gray-dark-left.jpg) no-repeat; }
a.btn-superbig-neutral:hover { background: transparent url(../images/buttons/btn-superbig-gray-dark-righth.jpg) no-repeat scroll top right;  }
a.btn-superbig-neutral:hover span{ background: transparent url(../images/buttons/btn-superbig-gray-dark-lefth.jpg) no-repeat;  color:#5b5b5b !important; text-shadow: 1px 1px #567e13; }

.for-android {
  background:url(../images/misc/for-android-dark.png) no-repeat;
}
.for-iphone {
  background:url(../images/misc/for-iphone-dark.png) no-repeat;
}

/* form action button */
.form-button { border:0px; margin:0px; padding:0px; display: block;  float: left; height:33px; margin-right: 15px; padding-right: 12px; text-decoration: none;font-family: Arial, Helvetica, sans-serif;  font-size:14px; font-weight:normal; background: transparent url(../images/buttons/btn-small-green-dark-right.jpg) no-repeat scroll top right; color: #ffffff; text-shadow: 1px 1px #567e13; cursor:pointer; }
.form-button span {  border:0px; margin:0px; padding:0px; display:block;  line-height: 33px; padding: 0px 0px 5px 12px; margin-top:0-1px;  text-align:center; background: transparent url(../images/buttons/btn-small-green-dark-left.jpg) no-repeat;  }
.form-button:hover {  border:0px; margin:0px; padding:0px; margin-right: 15px;  padding-right: 12px; background: transparent url(../images/buttons/btn-small-green-dark-righth.jpg) no-repeat scroll top right;   }
.form-button:hover span{ border:0px; margin:0px; padding:0px; padding: 0px 0px 5px 12px; text-align:center; margin-top:0px; background: transparent url(../images/buttons/btn-small-green-dark-lefth.jpg) no-repeat;  color:#ffffff !important; text-shadow: 1px 1px #567e13; }

/* ========================================================================== */
/*  Lists  & Tables                                                           */
/* ========================================================================== */

/* list features with icons and title - one third column size */
ul.feature-list { list-style:none !important; }
ul.feature-list li { background:transparent !important; }
ul.feature-list li { border-top:1px solid #4c4c4c;  }

/* list features with icons and title - one fourth column size */
ul.feature-list-smaller { list-style:none !important; }
ul.feature-list-smaller li { background:transparent !important;  }
ul.feature-list-smaller li { border-top:1px solid #4c4c4c;  }

/* list with the checkmark */
ul.checklist {}
ul.checklist li {
        background:url(../images/icons/icon-check.png) no-repeat left !important;
        font-style: normal !important;
        font-size: 14px !important;
        background-position: 0px 0px !important;
        padding-left: 35px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        margin-bottom: 2px !important;
        margin-left:5px !important;
        line-height: 21px !important;
}

/* Pricing col one fourth size  */
.pricing {
  background:url(../images/backgrounds/wide-shadow.png) no-repeat bottom center;
  padding-bottom:15px;
}
.pricing .first li {
  background: #464646 url(../images/backgrounds/pricing-shadow-right.png) right repeat-y;
}
.pricing .first li.button {
  background: #2f2f2f url(../images/backgrounds/pricing-shadow-right.png) right repeat-y !important;
}

.pricing .shadow-right li {
  background: #464646 url(../images/backgrounds/pricing-shadow-right1.png) right repeat-y;
}
.pricing .shadow-right li.button {
  background: #2f2f2f url(../images/backgrounds/pricing-shadow-right1.png) right repeat-y !important;
}

.pricing .last li {
  background: #464646 url(../images/backgrounds/pricing-shadow-left.png) left repeat-y;
}
.pricing .last li.button {
  background: #2f2f2f url(../images/backgrounds/pricing-shadow-left.png) left repeat-y !important;
}

.pricing .shadow-left li {
  background: #464646 url(../images/backgrounds/pricing-shadow-left1.png) left repeat-y;
}
.pricing .shadow-left li.button {
  background: #2f2f2f url(../images/backgrounds/pricing-shadow-left1.png) left repeat-y !important;
}


 .pricing .first li.tops {
  background:#60831b  url(../images/backgrounds/pricing-shadow-right.png) right repeat-y !important;
}
.pricing .shadow-right li.tops {
  background:#729c21  url(../images/backgrounds/pricing-shadow-right1.png) right repeat-y !important;
}
.pricing .last li.tops {
  background:#60831b  url(../images/backgrounds/pricing-shadow-left.png) left repeat-y !important;
}
.pricing .shadow-left li.tops {
  background:#729c21  url(../images/backgrounds/pricing-shadow-left1.png) left repeat-y !important;
}
ul.pricing-col {
  border:1px solid #555555;
}
ul.pricing-col li {
  border-bottom:1px solid #555555;
}
ul.pricing-col li.tops {
  background:#729c21;
  color:#ffffff;
  border-bottom:1px solid #555555;
}
ul.pricing-col .price {
  color:#ffffff;
}
ul.pricing-col-highlight {
  border:1px solid #555555;
}
ul.pricing-col-highlight li {
  border-bottom:1px solid #555555;
}
ul.pricing-col-highlight li.tops {
  background:#729c21;
  color:#ffffff;
  border-bottom:1px solid #555555;
}
ul.pricing-col-highlight .price {
  color:#ffffff;
}
/* add text shadow to pricing tops */
ul.pricing-col li.tops h2, ul.pricing-col li.tops  {
   text-shadow: 1px 1px #5d801a !important;
}
ul.pricing-col-highlight li.tops h2, ul.pricing-col-highlight li.tops {
   text-shadow: 1px 1px #5d801a !important;
}

/* data table vertical odd/even */
.data-table-vertical {
        border: 1px dotted #555555;
        background: transparent;
}
.data-table-vertical th {
        border-right: 1px dotted #555555;
}
.data-table-vertical th.odd {
        background: #749b29;
        color: #ffffff;
}
.data-table-vertical th.even {
        background: #82ab34;
        color: #ffffff;
}
.data-table-vertical td {
        border-top: 1px dotted #555555;
}
.data-table-vertical .odd {
        background: url(../images/backgrounds/translucentbg1.png);
}
.data-table-vertical .even {
        background: url(../images/backgrounds/translucentbg2.png);
}
.data-table-vertical .highlight {
        border: 3px solid #749b29;
}
/* data table horizontal odd/even */
.data-table-horizontal {
        border: 1px dotted #555555;
        background: transparent;
}
.data-table-horizontal th {
        background: #749b29;
        color: #ffffff;
        border-right: 1px dotted #555555;
}
/*.data-table-horizontal th.first {
  background:#ffffff;
}*/
.data-table-horizontal td {
        border-top: 1px dotted #555555;
        border-right: 1px dotted #555555;
}
.data-table-horizontal .odd {
        background: url(../images/backgrounds/translucentbg1.png);
}
.data-table-horizontal .odd .first {
        background: url(../images/backgrounds/translucentbg1.png);
        color: #ffffff;
}
.data-table-horizontal .even {
        background: url(../images/backgrounds/translucentbg2.png);
}
.data-table-horizontal .even .first {
        background: url(../images/backgrounds/translucentbg2.png);
        color: #ffffff;
}
.data-table-horizontal .highlight {
        border: 3px solid #749b29;
}


/* ========================================================================== */
/* Form Styles                                                                */
/* ========================================================================== */

form .error { color:#85ae35;  }
form ol.forms .inputError:focus {  border-color: #85ae35; }
form ol.forms .inputError textarea:focus {  border-color: #85ae35; }
form .required { color:#327cba; font-weight:normal; font-family: Arial, sans-serif; }
form input:focus, form textarea:focus, form select:focus {  border-color: #85ae35; }
form input:hover, form textarea:hover, form select:focus {  border-color: #85ae35; }

input, textarea, form input, form textarea {  border:1px solid #dddddd; color:#333333; background: url(../images/backgrounds/input-background-dark.png) bottom repeat-x; }
select, form select { border:1px solid #dddddd; color:#333333; background: url(../images/backgrounds/input-background-dark.png) bottom repeat-x; }

